<!-- Sidebar -->
<div id="sidebar" class="">
  <div class="inner">
    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a href="/pages/home.html">Homepage</a></li>
        <li><a href="/pages/graphics.html">Graphics</a></li>
        <li><a href="/pages/tools.html">Tools</a></li>
        <li><a href="/pages/projects.html">Projects</a></li>
      </ul>
    </nav>

    <!-- Footer -->
    <footer class="main style1 align-center">
      <h2>Connect with me!</h2>
      <ul class="icons">
        <li>
          <a
            href="https://www.linkedin.com/in/adhan-razzaque/"
            class="icon brands style2 fa-linkedin-in"
            ><span class="label">LinkedIn</span></a
          >
        </li>
        <li>
          <a
            href="https://generalred.itch.io/"
            class="icon brands style2 fa-brands fa-itch-io"
            ><span class="label">Itch.io</span></a
          >
        </li>
        <li>
          <a
            href="https://github.com/adhan-razzaque"
            class="icon brands style2 fa-brands fa-github"
            ><span class="label">Github</span></a
          >
        </li>
        <li>
          <a
            href="https://twitter.com/TheGeneralRed"
            class="icon brands style2 fa-brands fa-x-twitter"
            ><span class="label">X (formerly known Twitter)</span></a
          >
        </li>
      </ul>
      <p>
        &copy; Adhan Razzaque. Design:
        <a href="https://html5up.net">HTML5 UP</a>.
      </p>
    </footer>
  </div>

  <!-- Toggle -->
  <a href="#sidebar" class="toggle">Toggle</a>
</div>
